<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!doctype html>
        <html lang="en">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

            <title>Add New Client</title>
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form  th:object="${object}" th:action="@{'/v1/fuelRefills/create'} " method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="pannel-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h1 class="panel-title">Edit Transfer Information</h1>
                                </div>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-md-3 form-group">
                                            <label>odometer:</label>
                                            <input type="number" class="form-control" th:field="*{odometer}"/>
                                        </div>

                                        <div class="col-md-3 form-group">
                                            <label>fuelRefillLocation:</label>
                                            <input type="text" class="form-control" th:field="*{fuelRefillLocation}"/>
                                        </div>

                                        <div class="col-md-3 form-group">
                                            <label>Fuel Liters:</label>
                                            <input type="number" class="form-control" th:field="*{refillLiters}"/>
                                        </div>

                                        <div class="col-md-3 form-group">
                                            <label>Fuel Cost:</label>
                                            <input type="number" class="form-control" th:field="*{refillTotalPrice}"/>
                                        </div>

                                        <div class="col-md-3 form-group">
                                            <label>Driver:</label>
                                            <select class="form-control" name="driver.id">
                                                <option th:each="driver : ${driverList}"
                                                        th:value="${driver.id}"
                                                        th:selected="${driver.id.equals(object.id)}"
                                                        th:text="${driver.driverName}"></option>
                                            </select>
                                        </div>

                                        <div class="col-md-3 form-group">
                                            <label>Vehicle Code:</label>
                                            <select class="form-control" name="vehicle.id">
                                                <option th:each="vehicle : ${vehicleList}"
                                                        th:value="${vehicle.id}"
                                                        th:selected="${vehicle.id.equals(object.id)}"
                                                        th:text="${vehicle.vehicleName}"></option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>