<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Transfer Directory</title>
</head>

<body>

<div class="container">

    <h3>Transfer Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/v1/drivers/create}"
       class="btn btn-primary btn-sm mb-3">
        Add Driver
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Driver ID</th>
            <th>Driver Name</th>
            <th>Creation Date</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="driver : ${drivers}">

            <td th:text="${driver.id}">
            <td th:text="${driver.driverName}">
            <td th:text="${driver.createdAt}">


            <td>
                <div class="row">

                    <div class="col-small">
                        <form action="#" th:action="@{/v1/drivers/update}" method="POST">

                            <input type="hidden" name="objectId" th:value="${driver.id}" />
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                        </form>
                    </div>

                    <div class="col-small">
                        <form action="#" th:action="@{/v1/drivers/delete}" method="POST">

                            <input type="hidden" name="objectId" th:value="${driver.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this client?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>