<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Transfer Directory</title>
</head>

<body>

<div class="container">

    <h3>Transfer Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/v1/vehicles/create}"
       class="btn btn-primary btn-sm mb-3">
        Add Vehicle
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Vehicle ID</th>
            <th>vehicles code</th>
            <th>Odometer</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="object : ${objects}">

            <td th:text="${object.id}">
            <td th:text="${object.vehicleName}">
            <td th:text="${object.odometer}">
            <td>
                <div class="row">

                    <div class="col-small">
                        <form action="#" th:action="@{/v1/vehicles/update}" method="POST">

                            <input type="hidden" name="objectId" th:value="${object.id}" />
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                        </form>
                    </div>

                    <div class="col-small">
                        <form action="#" th:action="@{/v1/vehicles/delete}" method="POST">

                            <input type="hidden" name="objectId" th:value="${object.id}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this vehicle?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>